<html>
<title>

</title>

<body>
<a href="/items/new">Create Item</a>
<% @display_list.each do |item| %>
   <li> <%= item.name %> - <a href="/items/<%= item.id %>">Show <%= item.id %></a></li>
<% end %>

</body>
</html>